.block-person-cards {
  margin: 130px 0;
  @media screen and (max-width: 1440px) {
    margin: 9vw 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 80px;
    padding: 0 120px;
    @media screen and (max-width: 1440px) {
      column-gap: 6.25vw;
      padding: 0 8.3vw;
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    .person-card {
      text-align: center;
      img {
        border: 7px solid $color__text-blue;
        border-radius: 66px;
        width: 130px;
        height: 130px;
        object-position: center;
        object-fit: cover;
        margin-bottom: -75px;
      }
      .text-wrap {
        padding: 120px 46px 30px;
        box-shadow: 0px 5px 15px #ededed;
        min-height: 160px;
        @media screen and (max-width: 1440px) {
          padding: 120px 3.2vw 30px;
          min-height: calc( 515px - 25vw);
        }
        @media screen and (max-width: 1000px) {
          min-height: calc( 330px - 20vw);
        }
        @media screen and (max-width: 600px) {
          min-height: auto;
        }
        box-sizing: content-box;
        p {
          line-height: 2;
        }
      }
    }
  }
}