.block-person-slider {
  margin: 130px 0;
  @media screen and (max-width: 1440px) {
    margin: 9vw 0 130px;
  }

  .container {
    .person-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-position: center;
      background-size: cover;
      margin: 80px 50px;
      height: 320px;
      
      @media screen and (max-width: 1440px) {
        height: 22.2vw;
        margin: 5.5vw 3vw;
      } 
      @media screen and (max-width: 900px) {
        min-height: 40vw;
        height: auto;
      } 
      &.slick-center {
        height: 480px;
        margin: 0 50px;
        @media screen and (max-width: 1440px) {
          height: 33.3vw;
          margin-left: 3vw;
          margin-right: 3vw;
        }
        @media screen and (max-width: 900px) {
          min-height: 50vw;
          height: auto;
        } 
        .text-wrap {
          img {
            border-radius: 80px;
            width: 160px;
            height: 160px;
            @media screen and (max-width: 1440px) {
              border-radius: 5.5vw;
              width: 11.1vw;
              height: 11.1vw;
            }
            @media screen and (max-width: 900px) {
              border-radius: 50px;
              width: 100px;
              height: 100px;
              margin-top: 30px;
              display: inline-block;
            }
          }  
          p {
            font-size: 20px;
            margin: 20px 0;
            @media screen and (max-width: 1440px) {
              font-size: calc(10px + 0.69vw) ;
              margin:  calc(10px + 0.69vw) 0;
            }
          } 
        } 
      }
      .text-wrap {
        text-align: center;
        padding: 0 70px;
        @media screen and (max-width: 1440px) {
          padding: 0 4.8vw;
        }
        img {
          border: 7px solid $color__text-white;
          object-position: center;
          object-fit: cover;
          border-radius: 75px;
          width: 130px;
          height: 130px;
          display: inline-block;
          @media screen and (max-width: 1440px) {
            border-radius: 3vw;
            width: 6vw;
            height: 6vw;
          }
          @media screen and (max-width: 900px) {
            display: none;
          }
        }
        p {
          color: $color__text-white;
          line-height: 1.5;
          font-size: 16px;
          font-weight: bold;
          margin: 10px 0;
          @media screen and (max-width: 1440px) {
            font-size: calc(10px + 0.5vw) ;
            margin:  calc(10px + 0.5vw) 0;
          }
        }
        p:last-child {
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }
    
  }
}