.block-banner {
  margin: 75px 0;
  @media screen and (max-width: 1440px) {
    margin: 5.2vw 0;
  }
  .container {
    height: 579px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 800px) {
      height: auto;
      padding: 40px;
    }
    .text-wrapper {
      text-align: center;
      color: $color__text-white;
      h1 {
        margin-bottom: 40px;
        @media screen and (max-width: 400px) {
          font-size: 40px;
        }
      }
      p {
        color: $color__text-white;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 10px;
        @media screen and (max-width: 800px) {
          font-size: 18px;
        }
      }
      a {
        margin-top: 50px;
      }
    }
  }
}