// font
@font-face {
  font-family: "proximanova";
  src: url("assets/fonts/proximanova_regular.woff2") format('woff');
}

@font-face {
  font-family: "proximanova";
  src: url("assets/fonts/proximanova_semibold.woff2") format('woff');
  font-weight: bold;
}

$font__main: proximanova, sans-serif;

//colours
$color__text-white: #ffffff;
$color__text-blue: #6db1d4;
$color__navy-blue: #70b4d7;
$color__navy-blue-light: #194777;
$color__navy-blue-middle: #255681;
$color__light-gray: #919191;
$color__dark-gray: #686868;

//links
a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

//typography
body {
  font-family: $font__main;
  font-size: 16px;
}
h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0;
}
h1 {
  font-size: 60px;
  letter-spacing: 2px;
}
h2 {
  font-size: 45px;
  letter-spacing: 2px;
}
p {
  margin: 0;
}
//responsive layout
.container {
  width: 100%;
  @media screen and (min-width: 1440px) {
    width: 1440px;
    margin: 0 auto;
  }
}

//sticky footer. This assumes that in body there will always be only 3 elements (header, main and footer).
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

// Gutenberg settings
.wp-block .container {
  @media screen and (min-width: 1440px) {
    width: 100%;
  }
}
.wp-block {
  max-width: 1440px;
}